.site-footer {
	background-color: $color-bg;
	color: $color-text;
	padding: 1rem 0;
	position: relative;
	z-index: 100;

	&__logo {
		width: 7.5rem;
	}

	&__heading {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 2rem;
		text-shadow: $text-shadow;

		@include respond(tab-port) {
			justify-content: center;
		}
	}

	&__list {
		list-style: none;
		font-size: 2.4rem;
		font-weight: 700;
		display: flex;
		gap: 10rem;
		margin-left: 7.5rem;
		margin-bottom: 0;
		text-shadow: $text-shadow;

		@include respond(tab-land) {
			font-size: 1.8rem;
		}

		@include respond(tab-port) {
			justify-content: center;
			margin-left: 0;
		}

		@include respond(phone) {
			gap: 2rem;
		}

		@media only screen and (max-width: 550px) {
			font-size: 1.6rem;
			gap: 1rem;
		}

		@include respond(sm-phone) {
			flex-direction: column;
			font-size: 2rem;
			align-items: center;
		}

		@media only screen and (max-width: 350px) {
			font-size: 1.6rem;
		}
	}

	&__item {
		margin-bottom: 1rem;
	}

	&__footer-link {
		text-decoration: none;
		color: #5a5b68;

		&:visited {
			color: #5a5b68;
		}

		&:hover {
			color: #191970;
		}
	}

	&__icon {
		margin-right: 1rem;
		color: #d16d6a;
	}

	&__paragraph {
		margin-right: 2.5rem;
		margin-bottom: 0;
		font-size: 2.4rem;
		font-weight: 600;
		text-align: right;
		position: absolute;
		bottom: 1rem;
		right: 0;
		text-shadow: $text-shadow;

		@include respond(tab-land) {
			font-size: 1.8rem;
		}

		@include respond(tab-port) {
			position: relative;
			margin: 2rem auto 0 auto;
			text-align: center;
			width: fit-content;
		}

		@media only screen and (max-width: 350px) {
			font-size: 1.6rem;
		}
	}

	&__site-info {
		position: relative;
	}
}
