//all the animations/transformations on scroll and resize
.fade-up {
	opacity: 0;
	transform: translateY(12rem);
	transition:
		opacity 1.25s ease-out,
		transform 1.25s ease-out;
}

.fade-down {
	opacity: 0;
	transform: translateY(-12rem);
	transition:
		opacity 1.25s ease-out,
		transform 1.25s ease-out;
}

.in-view {
	opacity: 1;
	transform: translateY(0);
}

.appear {
	opacity: 0;
	transition: opacity 2s ease-out;
}

.in-view.appear {
	opacity: 1;
}

@keyframes move-across {
	0% {
		left: 100%;
	}
	100% {
		left: -150%;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
