//colors
$color-one: #f39800;
$color-two: #f2a45c;
$color-three: #f3d4cc;
$color-four: #E8C0B7;
$color-bg: #e5dcd2;
$color-text: #5a5b68;
$color-text-two: #101560;
$color-white: #fff;
$color-black: #000;

//shadows
$text-shadow: 0 1rem 1rem rgba(0,0,0,.2);

//borders
$border: solid 5px $color-one;
